@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: white;
  background-color: crimson;
  padding: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
  box-shadow: 0px 5px 6px rgb(172, 171, 171);
  width: 100vw;
}

.navContainer i{
  font-size: 40px;
  color: white;
}

.navContainer .navText{
  font-size: 22px;
}

.destinationContainer{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 32px;
  display: flex;
  column-gap: 7%;
}

.destinationContainer img{
  height: 200px;
  width: 180px;
  border-radius: 10px;
}

.locationContainer{
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.locationContainer .location{
  font-weight: bold;
  font-size: 14px;
}

.locationContainer a{
  color: grey;
  font-size: 10px;
}

.name{
  margin:8px 0;
}

.destinationIntro{
  font-size: 14px;
  text-align: justify;
}

@media (max-width:700px) {
  .destinationContainer{
    flex-direction: column;
  }

  .destinationContainer img{
    margin: auto 
  }

  .destinationContainer .detailsContainer{
    margin-top: 1rem;
  }
}